<div class="jumbotron" style="margin: auto; background-color: tomato; color: #fff;">
  <h1 class="display-4">Congratulations!</h1>
  <p class="lead">You are authorized to view this page.</p>
  <hr class="my-4">
  <p>Be thankful for not being a bot.</p>
  <a class="btn btn-dark btn-lg" href="/logout" role="button">Logout</a>
</div>