<div class="jumbotron">
    <h1 class="display-4">WELCOME!</h1>
    <p class="lead">Thank you for being human.</p>
    <hr class="my-4">
    <p>There's not much else to do now.</p>
    <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
  </div>