<div class="jumbotron">
    <h1 class="display-4">Welcome, <%= name %></h1>
    <p class="lead">You are successfully authenticated by Google.</p>
    <hr class="my-4">
    <p>As it is, there isn't much else to do here.</p>
    <a class="btn btn-danger btn-lg" href="/auth/logout" role="button">Logout</a>
  </div>