<form class="form-signin" action="/auth/google" method="POST">
  <img class="mb-4" src="/images/lock.svg" alt="" width="100" height="100">
  <button class="btn btn-lg btn-danger btn-block" type="submit">
    <i class="fab fa-google"></i>
    <span class="ml-3">Sign in with Google</span>
  </button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>